# Server
PORT=3000

# MongoDB
MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/letspay

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# NIBSS
NIBSS_BASE_URL=https://nibssbyphoenix.onrender.com
NIBSS_API_KEY=your_nibss_api_key
NIBSS_API_SECRET=your_nibss_api_secret

# Fintech Details
FINTECH_NAME=LetsPay MFB
ONBOARD_NAME=LetsPay MFB
ONBOARD_EMAIL=your_email@example.com